<div class="login-container">
  <div class="login-card">
    <h2>Welcome Back!</h2>
    <p>Please sign in to continue</p>
    <button mat-raised-button (click)="signInWithGoogle()" class="google-login-button">
      <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
        alt="Google"
        class="google-icon" />
      Sign in with Google
    </button>
  </div>
</div>
<footer class="footer">
  <span class="material-icons github-icon">github</span>
  Created by Bhagya
</footer>